header{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: rgb(25, 76, 218);
}

#logo{
    width: 200px;
    height: 100px;
}

#Titolo{
    font-size: 50px;
}

#sottotitolo{
    font-size: 20px;
    color: rgb(129, 126, 126);
}

#link-logo{
    color: lightseagreen;
}

.Descrizione-prime-immagini{
    margin: 0px;
    font-size: 12px;
}